<h5>Development</h5>
<div class="spec-board-wrapper">
  <spec-beans [specName]="devSpec" *ngFor="let devSpec of developmentSpecs"></spec-beans>
</div>
<h5>Testing</h5>
<div class="spec-board-wrapper">
    <spec-beans [specName]="testSpec" *ngFor="let testSpec of testingSpecs"></spec-beans>
</div>
<h5>Selected</h5>
<div class="spec-board-wrapper">
    <spec-beans *ngFor="let selected of selectedSpecsArr"
                 [specName]="selected"
                 [count]="selectedSpecsObj.selected"
    ></spec-beans>
</div>

