.spec-board-wrapper {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.spec-board-wrapper > spec-beans {
    margin-top: 20px;
}

#clearButton {
    float: right;
    color: white;
    text-decoration: underline;
}

#clearButton:hover {
    cursor: pointer;
}

#editButton {
    float: left;
    color: white;
    text-decoration: underline;
}

#editButton:hover {
    cursor: pointer;
}

#totalPoint {
    color: #3498DB;
    font-size: 80px;
    margin-top: 80px;
    margin-bottom: 0px;
}

#spec-board-container {
    text-align: center;
}

h3 {
    margin-top: 20px;
}