.spec-board-wrapper {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.spec-board-wrapper > spec-beans {
    margin-top: 20px;
}

#clearButton {
    float: right;
    color: white;
    text-decoration: underline;
}

#totalPoint {
    color: #3498DB;
    font-size: 80px;
    margin-top: 80px;
    margin-bottom: 0px;
}
