#homeButton {
    float: left;
    color: white;
    text-decoration: underline;
}

#homeButton:hover {
    cursor: pointer;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.editInputBox {
    border-radius: 8px;
}

.addRowButton {
    margin-bottom: 22px;
}

.developmentTextColor {
    color: #7D3C98;
}

.testingTextColor {
    color: #D4AC0D;
}
