<h3 id="homeButton" (click)="goHome()">Back</h3>
<br>
<div class="tableDiv">
  <h3>Development:</h3>
  <table>
    <thead>
      <tr>
        <th>Bean Name:</th>
        <th>Points:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spec of allDevSpecs">
        <td>
          <input class="form-control" type="text" value="{{spec.name}}">
        </td>
        <td>
          <input type="text" value="{{spec.point}}">
        </td>
      </tr>
      <button (click)="addRow('dev')">Add Row</button>
    </tbody>
  </table>
  <h3>Testing:</h3>
  <table>
    <thead>
      <tr>
        <th>Bean Name:</th>
        <th>Points:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spec of allTestSpecs">
        <td>
          <input type="text" value="{{spec.name}}">
        </td>
        <td>
          <input type="text" value="{{spec.point}}">
        </td>
      </tr>
      <button (click)="addRow('test')">Add Row</button>
    </tbody>
  </table>
  
  <!-- submit edit updates -->
  <button (click)="confirmModal()" type="submit">Update</button>
</div>