<h3 id="homeButton" (click)="goHome()">Back</h3>
<br>
<div class="tableDiv">
  <h3 class="developmentTextColor">Development:</h3>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th class="developmentTextColor" scope="col"><h3>Beans</h3></th>
        <th class="developmentTextColor" scope="col"><h3>Points</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spec of allDevSpecs">
        <td>
          <input class="form-control" type="text" value="{{spec.name}}">
        </td>
        <td>
          <input class="form-control" type="text" value="{{spec.point}}">
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary addRowButton" (click)="addRow('dev')">+</button>
  <h3 class="testingTextColor">Testing:</h3>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th class="testingTextColor" scope="col"><h3>Beans</h3></th>
        <th class="testingTextColor" scope="col"><h3>Points</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spec of allTestSpecs">
        <td>
          <input class="form-control" type="text" value="{{spec.name}}">
        </td>
        <td>
          <input class="form-control" type="text" value="{{spec.point}}">
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary addRowButton" (click)="addRow('test')">+</button>
  
  <!-- submit edit updates -->
  <button class="btn btn-outline-warning" (click)="confirmModal()" type="submit">Update</button>
</div>

<!-- EditConfirmModalComponent -->
<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>